name = "spark-connector"
title = "MongoDB Spark Connector"

intersphinx = ["https://docs.mongodb.com/manual/objects.inv"]

toc_landing_pages = ["/java-api", "/python-api", "/scala-api", "/r-api"]

[constants]
current-version = "2.1.6"
spark-core-version = "2.1.3"
spark-sql-version = "2.1.3"

[substitutions]
copy = "unicode:: U+000A9"
ent-build = "MongoDB Enterprise"
hardlink = "http://docs.mongodb.com/docs-spark-connector"
